@font-face {
	font-family: 'ShareTechMono';
	src: url('assets/font/ShareTechMono.ttf');
}

:root {
	color-scheme: light dark;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.serveranimdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
}

.serveranimtext {
	font-size: 40px;
	position: relative;
	text-align: center;
	margin-top: -300px;
	font-color: light-dark(black, white);
}

body {
	background-color: light-dark(#d4d4d4, #333333);
}

a:link {
	color: light-dark(blue, cyan);
}

a:visited {
	color: light-dark(blue, #00b3b3);
}

a:hover {
	color: light-dark(blue, #4dffff);
}

a:active {
	color: light-dark(blue, #99ffff);
}

.progressbar {
	display: block;
	height: 20px;
	background-color: white;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 406px;
}
.progressfill {
	display: block;
	height: 20px;
	background-color: cyan;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 406px;
	border-radius: 25px;
}